version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: docker/web/dockerfile
    container_name: django_web
    command: /app/start.sh
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env

  worker:
    build:
      context: .
      dockerfile: docker/worker/dockerfile
    container_name: celery_worker
    command: /app/start.sh
    depends_on:
      - db
      - redis
    env_file:
      - .env

  beat:
    build:
      context: .
      dockerfile: docker/beat/dockerfile
    container_name: celery_beat
    command: /app/start.sh
    depends_on:
      - db
      - redis
    env_file:
      - .env

  redis:
    image: redis:latest
    container_name: redis

  db:
    image: postgres:latest
    container_name: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    restart: always

volumes:
  postgres_data:
